@model dynamic

@{
    ViewBag.Title = "旬阳在线";
}

<div class="ad" style="width: 1001px; height: 68px; line-height: 68px;">广告位</div>

@*头部开始*@
<div class="main header_content">
    <div class="header_content_1 fl">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>

        </ul>
        <!--首页页头新闻左-->
    </div>
    <div class="header_content_2 fl">
        <div class="header_content_news mt10 overflow">
            <ul class="list_across">
                <li><a href="http://www.xunyangzaixian.com/" target="_blank" style="">旬阳在线</a></li>
                <li><a href="http://www.xunyang.com.cn/" target="_blank" style="">旬阳政府网</a></li>
                <li><a href="http://www.xunzhong.com/" target="_blank" style="">旬阳中学</a></li>
                <li><a href="http://www.xunyangwang.com/" target="_blank" style="">旬阳网</a></li>
                <li><a href="http://www.xyjj.gov.cn/" target="_blank" style="">旬阳党风廉政网</a></li>
                <li><a href="http://tieba.baidu.com/f?kw=%D1%AE%D1%F4&fr=ala0" target="_blank" style="">旬阳吧</a></li>
            </ul>
            <!--首页页头新闻上-->
        </div>
        <div class="clearfloat"></div>
        <div class="header_content_banner overflow ad" style="width: 638px; height: 98px; line-height: 98px;">广告位</div>
        <div class="clearfloat"></div>

    </div>
    <div class="header_content_3 fr">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
        </ul>
        <!--首页页头新闻右-->
    </div>
</div>
<div class="clearfloat"></div>
@*头部结束*@


@*主题内容开始*@
<div class="main overflow">
    <!--广告位开始-->
    <div class="gg1 bord2 overflow ad" style="width: 1000px; height: 79px; line-height: 79px;">
        广告位
    </div>
    <div class="clearfloat"></div>
    @*广告位结束*@

    <!--大头条开始-->
    <div class="tt bord3 mt10">
        <div>
            <a href="#" target="_blank">
                <img src="" width="900" height="70" /></a>
        </div>
    </div>
    <!--大头条结束-->
    <!--第一部分开始-->
    <div class="yx_1 bord4 overflow">
        <div class="yx_1_l text-c mt8 fl">
            <div class="show_box">
                <div class="showpic">
                    <a href="#" target="_blank" title="滚动图片1">
                        <img src="" width="545" height="315" alt="滚动图片1" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片1">滚动图片1</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片2">
                        <img src="" width="545" height="315" alt="滚动图片2" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="http://www.yxol.net/html/201409/06/61116.shtml" target="_blank" title="滚动图片2">滚动图片2</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片3">
                        <img src="" width="545" height="315" alt="滚动图片3" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片3">滚动图片3</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片4">
                        <img src="" width="545" height="315" alt="滚动图片4" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片4">滚动图片4</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片5">
                        <img src="" width="545" height="315" alt="滚动图片5" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片5">滚动图片5</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片6">
                        <img src="" width="545" height="315" alt="滚动图片6" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片6">滚动图片6</a></div>
                </div>
                <div class="showtab"><a href="#" target="_blank" class="on">1</a><a href="#" target="_blank">2</a><a href="#" target="_blank">3</a><a href="#" target="_blank">4</a><a href="#" target="_blank">5</a><a href="#" target="_blank">6</a></div>
            </div>
            <script src="~/Scripts/neww-Marquee.js"></script>
        </div>

        <div class="yx_1_r bord5 mt8 mr8 mb8 fr">
            <div class="yx_1_r_1" style="margin-top: 15px;">

                <div class="yx_1_r_t text-c"><a title="标题标题标题标题标题标题" href="#" target="_blank">标题标题标题标题标题标题</a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>

            <div class="yx_1_r_2">
                <div class="yx_1_r_t text-c"><a href="#" target="_blank">标题标题标题标题标题标题</a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>

            <div class="yx_1_r_3" style="margin-bottom: 15px;">
                <div class="yx_1_r_t text-c"><a href="#" target="_blank">标题标题标题标题标题标题 </a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>
            @*      <div class="yx_1_r_4 text-c"><!--<a href="/html/news/newtop/" target="_blank"><img src="http://www.yxol.net/statics/images/yunxi/12.jpg" width="128" height="29" /></a>-->        <span style="color:#0272e4;"><a href="http://www.syzyz.org/index.php?m=wish&c=cindex&a=init" target="_blank">十堰 旬阳微心愿平台 </sapn></a></div>*@
        </div>
    </div>
    <div class="clearfloat"></div>
    <!--第一部分结束-->


    <!--ad4广告开始-->
    <div class="main pdt5 banner_for_2 ad" id="gg" onmouseout="chgMenuindex1();" style="display: none; width: 1001px; height: 178px; line-height: 178px;">广告位</div>
    <div class="main pdt5 banner_for_2 ad" id="gg1" onmouseover="chgMenuindex();" style="width: 1001px; height: 68px; line-height: 68px;">广告位</div>
    <script src="~/Scripts/se.js"></script>
    <!--ad4广告结束-->

    <!--第二部分开始-->
    <div class="yx_2 pdt10 overflow">
        <div class="yx_2_l fl overflow">
            <div class="yx_2_l_l bord7 fl">
                <!--旬阳时政开始-->
                <div>
                    <div class="yx_2_l_l_t bord8">
                        <div class="yx_2_l_l_tr fr"><a href="/html/shizheng/yunxixianwei/huzuo/" target="_blank">书记专辑</a>|<a href="/html/shizheng/yunxixianzhengfu/yhl/" target="_blank">县长专辑</a></span></div>
                        <div class="yx_2_l_l_tl fl"><a href="html/shizheng/" target="_blank">旬阳时政</a></div>
                    </div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--旬阳时政结束-->

                <!--网民心声开始-->
                <div>
                    <div class="yx_2_l_l_t bord8"><span class="fr"><a href="http://yxol.net/guestbook/" target="_blank">更多>></a></span><span class="fr"><a href="http://yxol.net/guestbook/Guest_Write.asp?KindID=0&KindName=" target="_blank">发布</a></span><font>网民心声</font></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--网民心声结束-->

                <!--视频在线开始-->
                <div>
                    <div class="yx_2_l_l_t bord8"><span class="fr"><a href="/html/news/shipin/" target="_blank">+更多</a></span><font>视频在线</font></div>
                    <div class="yx_2_l_l_c1 pdtb10 overflow">
                        <div class="yx_2_l_l_c1_l fl">
                            <ul>
                                <li><a href="#" target="_blank">
                                    <img alt="视频截图" src="" width="100" height="62" /></a>
                                    <div><a href="#" target="_blank">标题标题标题</a></div>
                                </li>
                                <li><a href="#" target="_blank">
                                    <img src="" alt="视频截图" width="100" height="62" /></a>
                                    <div><a href="#" target="_blank">标题标题标题</a></div>
                                </li>
                                <li><a href="#" target="_blank">
                                    <img src="" alt="视频截图" width="100" height="62" /></a>
                                    <div><a href="#" target="_blank">标题标题标题</a></div>
                                </li>
                            </ul>
                        </div>

                        <div class="yx_2_l_l_c1_r pdtb4 fl">
                            <ul>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li class="xx"></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li class="xx"></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                                <li><a href="#" target="_blank" style="">标题标题标题</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <!--视频在线结束-->

                <!--创卫快报开始-->

                <div>
                    <div class="yx_2_l_l_t bord8"><span class="fr"><a href="#" target="_blank">+更多</a></span><font>创卫快报</font></div>
                    <div class="pdt10 overflow">

                        <div class="yx_3_l_c1 fl">
                            <a href="#" target="_blank">
                                <img src="" alt="快报截图" width="120" height="85" /></a>
                            <div><a href="#" target="_blank">标题标题标题</a></div>
                        </div>
                        <div class="yx_3_l_c2 fl"><a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要...</a><a href="#" target="_blank"><font>【详细】</font></a></div>

                    </div>
                    <div class="clearfloat"></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题</a></li>
                            <li>&middot;<a href="#" target="_blank" style="">标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--创卫快报结束-->

                <!--理论人才开始-->
                <div>
                    <div class="yx_2_l_l_t bord8">
                        <span class="fr"><a href="#" target="_blank">+更多</a></span>
                        <font><a href="#" target="_blank">理论</a></font><a href="#" target="_blank">人才</a>
                    </div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                            <li><a href="#" target="_blank">理论</a><font>|</font><a href="#" target="_blank" style="">标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--理论人才结束-->
            </div>

            <div class="yx_2_l_r fr">
                <!--新闻中心开始-->
                <div>

                    <div class="yx_2_l_l_tt bord10">
                        <span class="fr"><a href="/html/news/" target="_blank">+更多</a></span><font id="class3_1" onmouseover="showtab1('class3',1,6);">新闻聚焦</font><font id="class3_2" onmouseover="showtab1('class3',2,6);"><a href="/html/news/xianzhi/" target="_blank">县直</a></font><font id="class3_3" onmouseover="showtab1('class3',3,6);"><a href="/html/news/xiangzhen/" target="_blank">乡镇</a></font><font id="class3_4" onmouseover="showtab1('class3',4,6);"><a href="/html/news/shehui/" target="_blank">社会</a></font><font id="class3_5" onmouseover="showtab1('class3',5,5);"><a href="/html/news/fazhi/" target="_blank">法制</a></font><font id="class3_6" onmouseover="showtab1('class3',6,6);"><a href="/html/news/xinwenzhuanti/qqzlx/" target="_blank">路线教育</a></font>
                    </div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10" id="tab_class3_1">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>

                        </ul>
                        <ul class="pd10" id="tab_class3_2" style="display: none;">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                        <ul class="pd10" id="tab_class3_3" style="display: none;">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                        <ul class="pd10" id="tab_class3_4" style="display: none;">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                        <ul class="pd10" id="tab_class3_5" style="display: none;">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                        <ul class="pd10" id="tab_class3_6" style="display: none;">
                            <li>·<a href="http://www.yxol.net/html/201409/09/61154.shtml" target="_blank" style="">规划执法大队：召开安全生产专题会议</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/04/61052.shtml" target="_blank" style="">景阳乡尚坪村开展专题组织生活会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/04/61051.shtml" target="_blank" style="">槐树：7个支部全面召开组织生活会确保活动全覆盖</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/02/61014.shtml" target="_blank" style="">县科技局党支部召开专题民主生活会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/02/61002.shtml" target="_blank" style="">国土局召开全体党员大会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201408/20/60733.shtml" target="_blank" style="">夹河镇召开党委民主生活会通报会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201408/20/60732.shtml" target="_blank" style="">湖北口：召开专题民主生活会情况通报会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201408/13/60543.shtml" target="_blank" style="">县卫计局召开专题民主生活会通报会</a></li>
                            <li>·<a href="http://www.yxol.net/html/201408/13/60534.shtml" target="_blank" style="">周文生再度深入关防乡后进村党支部现场督办整改</a></li>
                            <li>·<a href="http://www.yxol.net/html/201408/11/60491.shtml" target="_blank" style="">县农业局召开专题民主生活会通报会</a></li>
                        </ul>
                    </div>
                </div>
                <!--新闻中心结束-->

                <!--时事纵横开始-->
                <div>
                    <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/news/sszh/" target="_blank">+更多</a></span><font>时事纵横</font></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--时事纵横结束-->

                <!--外媒看旬阳开始-->
                <div>
                    <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/news/wmsyx/" target="_blank">+更多</a></span><font>外媒看旬阳</font></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>

                        </ul>
                    </div>
                </div>
                <!--外媒看旬阳结束-->

                <!--农业农村开始-->
                <div>
                    <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/news/nongyenongcun/" target="_blank">+更多</a></span><span class="fr"><a href="http://www.hbyxtf.com/" target="_blank">旬阳土肥</a></span><span class="fr"><a href="http://yxol.net/cyyx/" target="_blank">旬阳蔬菜</a></span><font>农业农村</font></div>
                    <div class="pdt10 overflow">
                        <div class="yx_3_l_c1 fl">
                            <a href="http://www.yxol.net/html/2013/nongyenongcun_1224/53677.html" target="_blank">
                                <img src="http://www.yxol.net/uploadfile/2013/1224/20131224100212718.jpg" width="120" height="80" /></a>
                            <div><a href="http://www.yxol.net/html/2013/nongyenongcun_1224/53677.html" target="_blank">旬阳抓地产菜生产鈭碘</a></div>
                        </div>
                        <div class="yx_3_l_cx fl"><a href="http://www.yxol.net/html/2013/nongyenongcun_1224/53677.html" target="_blank">近日，笔者在香口乡蔬菜基地看到，近千亩的蔬菜大棚婉如给寒冬的大地盖上了一层暖和的棉被，走进蔬...</a><a href="http://www.yxol.net/html/2013/nongyenongcun_1224/53677.html" target="_blank"><font>[详细]</font></a></div>

                    </div>
                    <div class="clearfloat"></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--农业农村结束-->

                <!--交通城管开始-->
                <div>
                    <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/news/jiaotong/" target="_blank">+更多</a></span><font><a href="/html/news/jiaotong/" target="_blank">交通</a><a href="/html/news/chengguan/" target="_blank"><font>城管</font></a></div>
                    <div class="pdt10 overflow">


                        <div class="yx_3_l_c1 fl">
                            <a href="http://www.yxol.net/html/2014/chengguan_0910/61176.html" target="_blank">
                                <img src="http://www.yxol.net/uploadfile/2014/0910/20140910093912946.jpg" width="120" height="80" /></a>
                            <div><a href="http://www.yxol.net/html/2014/chengguan_0910/61176.html" target="_blank">局召开专题组织生活会</a></div>
                        </div>
                        <div class="yx_3_l_cx fl"><a href="http://www.yxol.net/html/2014/chengguan_0910/61176.html" target="_blank">9月5日下午，在县城管综合执法局机关党支部书记、副局长邓学忠同志的主持下，10名党员聚集一堂，在严...</a><a href="http://www.yxol.net/html/2014/chengguan_0910/61176.html" target="_blank"><font>[详细]</font></a></div>
                    </div>
                    <div class="clearfloat"></div>
                    <div class="yx_2_l_l_c">
                        <ul class="pd10">
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                </div>
                <!--交通城管结束-->
            </div>
        </div>
        <div class="clearfloat"></div>

        <div class="yx_2_r bord6 fr">
            <!--公示公告开始-->
            <div>
                <div class="yx_2_l_l_t"><span class="fr"><a href="/html/news/gsgg/" target="_blank">+更多</a></span><font>公示公告</font></div>
                <div class="yx_2_r_c">
                    <ul>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>
            <!--公示公告结束-->
            <!--右侧广告位1开始-->
            <div class="gg2 ad" style="width: 230px; height: 143px; line-height: 143px">
                广告位
            </div>
            <!--右侧广告位1结束-->
            <!--新闻专题开始-->
            <div>
                <div class="yx_2_l_l_t bord11"><span class="fr"><a href="http://www.yxol.net/html/news/xinwenzhuanti/" target="_blank">+更多</a></span><font>新闻专题</font></div>
                <div class="yx_2_r_c_zt">
                    <ul>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>
            <!--新闻专题结束-->

            <!--广告位2开始-->
            <div class="gg2">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="232" height="130">
                    <param name="movie" value="http://www.yxol.net/statics/images/ad/ad_whys.swf" />
                    <param name="quality" value="high" />
                    <param name="wmode" value="opaque" />
                    <embed src="http://www.yxol.net/statics/images/ad/ad_whys.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="232" height="130"></embed>
                </object>
            </div>
            <!--广告位2结束-->

            <!--魅力旬阳开始-->
            <div>
                <div class="yx_2_l_l_t bord11"><span class="fr"><a href="html/zuoliyunxi/" target="_blank">+更多</a></span><font>魅力旬阳</font></div>
                <div class="yx_2_r_c1 pdt10">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="232" height="142">
                        <param name="movie" value="http://www.yxol.net/statics/images/ad/mlyx.swf" />
                        <param name="quality" value="high" />
                        <param name="wmode" value="opaque" />
                        <embed src="http://www.yxol.net/statics/images/ad/mlyx.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="232" height="142"></embed>
                    </object>
                </div>
                <div class="yx_2_r_c2">
                    <ul class="overflow">
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>

                    </ul>
                </div>

                <div class="yx_2_r_c3">
                    <ul class="overflow">
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>

            <!--魅力旬阳结束-->
            <!--数字报开始-->
            <div>
                <div class="yx_2_l_l_t bord11"><span class="fr"><a href="#" target="_blank">+更多</a></span><font>数字报</font></div>
                <div class="mj_l_r_c8">
                    <div class="scrollDiv_13">
                        <div id="demo" style="overflow: hidden; width: 210px; height: 149px; padding: 0px; margin: 0px;" onmouseover="scrollstop(1)" onmouseout="scrollstop(0)">
                            <table cellpadding="0" cellspacing="0" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="left" height="8"></td>
                                        <td valign="top"></td>
                                    </tr>
                                    <tr>
                                        <td id="demo1" valign="top" align="left">
                                            <table width="315" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td width="105" align="center"><a href="http://yxzk.yxol.net/sysq/sysq/html/" target="_blank">
                                                            <img src="http://www.yxol.net/ad_yx/yxzk.jpg" width="97" height="139" border="0"></a></td>
                                                        <td width="105" align="center"><a href="http://syrb.10yan.com/" target="_blank">
                                                            <img src="http://www.yxol.net/ad_yx/syrb_1.jpg" width="97" height="139" border="0"></a></td>
                                                        <td width="105" align="center"><a href="http://hbrb.cnhubei.com/cache/paper_hbrb.aspx" target="_blank">
                                                            <img src="http://www.yxol.net/ad_yx/hbrb.jpg" width="97" height="139" border="0"></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td id="demo2" valign="top"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <script src="http://www.yxol.net/statics/images/yunxi/szb.js" type="text/javascript"></script>
                    </div>

                    <div class="pdt5b7">
                        <form name="form1" class="link_form pdt5b3" target="_blank">
                            <div class="selectArea">
                                <div class="selectDiv">
                                    <select onchange="openLink(this)">
                                        <option value="#">省内重点报纸</option>
                                        <option value="http://hbrb.cnhubei.com/cache/paper_hbrb.aspx" target="_blank">湖北日报</option>
                                        <option value="http://ctdsb.cnhubei.com/cache/paper_ctdsb.aspx" target="_blank">楚天都市报</option>
                                        <option value="http://paper.people.com.cn" target="_blank">人民日报</option>
                                        <option value="http://paper.ce.cn/" target="_blank">经济日报</option>
                                        <option value="http://hqsb.huanqiu.com/dnis/" target="_blank">环球时报</option>
                                        <option value="http://zqb.cyol.com" target="_blank">中国青年报</option>
                                        <option value="http://www.ycwb.com/ePaper/ycwb" target="_blank">羊城晚报</option>
                                        <option value="http://epaper.oeeee.com/" target="_blank">南方都市报</option>
                                        <option value="http://epaper.bjnews.com.cn" target="_blank">新京报</option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <form name="form2" class="link_form pdt5b3" target="_blank">
                            <div class="selectArea">
                                <div class="selectDiv">
                                    <select onchange="openLink(this)">
                                        <option value="#">中央重点报纸</option>
                                        <option value="http://hbrb.cnhubei.com/cache/paper_hbrb.aspx" target="_blank">湖北日报</option>
                                        <option value="http://ctdsb.cnhubei.com/cache/paper_ctdsb.aspx" target="_blank">楚天都市报</option>
                                        <option value="http://paper.people.com.cn" target="_blank">人民日报</option>
                                        <option value="http://paper.ce.cn/" target="_blank">经济日报</option>
                                        <option value="http://hqsb.huanqiu.com/dnis/" target="_blank">环球时报</option>
                                        <option value="http://zqb.cyol.com" target="_blank">中国青年报</option>
                                        <option value="http://www.ycwb.com/ePaper/ycwb" target="_blank">羊城晚报</option>
                                        <option value="http://epaper.oeeee.com/" target="_blank">南方都市报</option>
                                        <option value="http://epaper.bjnews.com.cn" target="_blank">新京报</option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <form name="form3" class="link_form pdt5b3" target="_blank">
                            <div class="selectArea">
                                <div class="selectDiv">
                                    <select onchange="openLink(this)">
                                        <option value="#">省外知名报纸</option>
                                        <option value="http://hbrb.cnhubei.com/cache/paper_hbrb.aspx" target="_blank">湖北日报</option>
                                        <option value="http://ctdsb.cnhubei.com/cache/paper_ctdsb.aspx" target="_blank">楚天都市报</option>
                                        <option value="http://paper.people.com.cn" target="_blank">人民日报</option>
                                        <option value="http://paper.ce.cn/" target="_blank">经济日报</option>
                                        <option value="http://hqsb.huanqiu.com/dnis/" target="_blank">环球时报</option>
                                        <option value="http://zqb.cyol.com" target="_blank">中国青年报</option>
                                        <option value="http://www.ycwb.com/ePaper/ycwb" target="_blank">羊城晚报</option>
                                        <option value="http://epaper.oeeee.com/" target="_blank">南方都市报</option>
                                        <option value="http://epaper.bjnews.com.cn" target="_blank">新京报</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--数字报结束-->

            <!--政策文件开始-->
            <div>
                <div class="yx_2_l_l_t bord11"><span class="fr"><a href="/html/shizheng/zcwj/" target="_blank">+更多</a></span><font>政策文件</font></div>
                <div class="yx_2_r_c">
                    <ul>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                        <li>·<a href="#" target="_blank" style="">标题标题标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>
            <!--政策文件结束-->
        </div>
    </div>
    <div class="clearfloat"></div>
    <!--第二部分结束-->

</div>






