@model XYOL.MvcWeb.ViewModel.HomeIndexViewModel




<div class="ad" style="width: 1001px; height: 68px; line-height: 68px;">广告位 @Model.Test</div>

@*头部开始*@
<div class="main header_content">
    <div class="header_content_1 fl">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>

        </ul>
        <!--首页页头新闻左-->
    </div>
    <div class="header_content_2 fl">
        <div class="header_content_news mt10 overflow">
            <ul class="list_across">
                <li><a href="http://www.xunyangzaixian.com/" target="_blank" style="">旬阳在线</a></li>
                <li><a href="http://www.xunyang.com.cn/" target="_blank" style="">旬阳政府网</a></li>
                <li><a href="http://www.xunzhong.com/" target="_blank" style="">旬阳中学</a></li>
                <li><a href="http://www.xunyangwang.com/" target="_blank" style="">旬阳网</a></li>
                <li><a href="http://www.xyjj.gov.cn/" target="_blank" style="">旬阳党风廉政网</a></li>
                <li><a href="http://tieba.baidu.com/f?kw=%D1%AE%D1%F4&fr=ala0" target="_blank" style="">旬阳吧</a></li>
            </ul>
            <!--首页页头新闻上-->
        </div>
        <div class="clearfloat"></div>
        <div class="header_content_banner overflow ad" style="width: 638px; height: 98px; line-height: 98px;">广告位</div>
        <div class="clearfloat"></div>

    </div>
    <div class="header_content_3 fr">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">标题标题标题标题标题标题</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">标题标题标题标题标题标题</a></li>
        </ul>
        <!--首页页头新闻右-->
    </div>
</div>
<div class="clearfloat"></div>
@*头部结束*@


@*主题内容开始*@
<div class="main overflow">
    <!--广告位开始-->
    <div class="gg1 bord2 overflow ad" style="width: 1000px; height: 79px; line-height: 79px;">
        广告位
    </div>
    <div class="clearfloat"></div>
    @*广告位结束*@

    <!--大头条开始-->
    <div class="tt bord3 mt10">
        <div>
            <a href="#" target="_blank">
                <img src="" width="900" height="70" /></a>
        </div>
    </div>
    <!--大头条结束-->
    @Html.Action("Part1")


    <!--ad4广告开始-->
    <div class="main pdt5 banner_for_2 ad" id="gg" onmouseout="chgMenuindex1();" style="display: none; width: 1001px; height: 178px; line-height: 178px;">广告位</div>
    <div class="main pdt5 banner_for_2 ad" id="gg1" onmouseover="chgMenuindex();" style="width: 1001px; height: 68px; line-height: 68px;">广告位</div>
    <script src="~/Scripts/se.js"></script>
    <!--ad4广告结束-->

   @Html.Action("Part2")
    
    
    <!--广告位4开始-->
  <div class="pdt10 overflow" >
    <div class="gg4 fl ad" style="width: 238px;height:68px;line-height: 68px">广告位</div>
    <div class="gg4 fl ad" style="width: 238px;height:68px;line-height: 68px">广告位</div>
    <div class="gg4 fl ad" style="width: 238px;height:68px;line-height: 68px">广告位</div>
    <div class="gg4 fr ad" style="width: 238px;height:68px;line-height: 68px">广告位</div>
  </div>                                                                      
  <div class="clearfloat"></div>
  <!--广告位4结束-->    
    
    @Html.Action("Part3")


</div>






