

<!--第一部分开始-->
    <div class="yx_1 bord4 overflow">
        <div class="yx_1_l text-c mt8 fl">
            <div class="show_box">
                <div class="showpic">
                    <a href="#" target="_blank" title="滚动图片1">
                        <img src="" width="545" height="315" alt="滚动图片1" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片1">滚动图片1</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片2">
                        <img src="" width="545" height="315" alt="滚动图片2" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="http://www.yxol.net/html/201409/06/61116.shtml" target="_blank" title="滚动图片2">滚动图片2</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片3">
                        <img src="" width="545" height="315" alt="滚动图片3" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片3">滚动图片3</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片4">
                        <img src="" width="545" height="315" alt="滚动图片4" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片4">滚动图片4</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片5">
                        <img src="" width="545" height="315" alt="滚动图片5" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片5">滚动图片5</a></div>
                </div>
                <div class="showpic" style="display: none;">
                    <a href="#" target="_blank" title="滚动图片6">
                        <img src="" width="545" height="315" alt="滚动图片6" /></a>
                    <div class="mask"></div>
                    <div class="linkbox"><a href="#" target="_blank" title="滚动图片6">滚动图片6</a></div>
                </div>
                <div class="showtab"><a href="#" target="_blank" class="on">1</a><a href="#" target="_blank">2</a><a href="#" target="_blank">3</a><a href="#" target="_blank">4</a><a href="#" target="_blank">5</a><a href="#" target="_blank">6</a></div>
            </div>
            <script src="~/Scripts/neww-Marquee.js"></script>
        </div>

        <div class="yx_1_r bord5 mt8 mr8 mb8 fr">
            <div class="yx_1_r_1" style="margin-top: 15px;">

                <div class="yx_1_r_t text-c"><a title="标题标题标题标题标题标题" href="#" target="_blank">标题标题标题标题标题标题</a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>

            <div class="yx_1_r_2">
                <div class="yx_1_r_t text-c"><a href="#" target="_blank">标题标题标题标题标题标题</a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>

            <div class="yx_1_r_3" style="margin-bottom: 15px;">
                <div class="yx_1_r_t text-c"><a href="#" target="_blank">标题标题标题标题标题标题 </a></div>
                <div class="yx_1_r_c"><a href="#" target="_blank">摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要</a>……<a href="#" target="_blank">【详细】</a></div>
            </div>
            @*      <div class="yx_1_r_4 text-c"><!--<a href="/html/news/newtop/" target="_blank"><img src="http://www.yxol.net/statics/images/yunxi/12.jpg" width="128" height="29" /></a>-->        <span style="color:#0272e4;"><a href="http://www.syzyz.org/index.php?m=wish&c=cindex&a=init" target="_blank">十堰 旬阳微心愿平台 </sapn></a></div>*@
        </div>
    </div>
    <div class="clearfloat"></div>
    <!--第一部分结束-->