 <!--第三部分开始-->
  <div class="yx_2 pdt10 overflow">
    <div class="yx_2_l fl overflow">
      <div class="yx_2_l_l fl"> 
        <!--工业招商开始-->
        <div>
          <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/news/gongye/" target="_blank"></a>|<a href="#" target="_blank"></a></span><font><a href="/html/news/gongye/" target="_blank">工业</a><font><a href="/html/news/zhaoshang/" target="_blank">招商</a></font></div>
          
          <div class="pdt10 overflow">
                             
               <div class="yx_3_l_c1 fl"><a href="http://www.yxol.net/html/201305/19/46467.shtml" target="_blank"><img src="/uploadfile/2013/0519/20130519122241804.jpg" width="120" height="82" /></a>
              	<div><a href="http://www.yxol.net/html/201305/19/46467.shtml" target="_blank">郧西黄龙山大鲵养殖中</a></div>
              </div>
              <div class="yx_3_l_c2 fl">　　<a href="http://www.yxol.net/html/201305/19/46467.shtml" target="_blank">湖北关大鲵繁养技术研究中心，位于秦岭南麓余脉的郧西县黄龙山脚下大水河，是经湖北省渔政部门批准的一...</a>…<a href="http://www.yxol.net/html/201305/19/46467.shtml" target="_blank"><font>【详细】</font></a></div>
                                      </div>
          <div class="clearfloat"></div>
          <div class="yx_2_l_l_c overflow">
            <ul class="pdrlb10">
                                         <li><a href="http://www.yxol.net/html/news/zhaoshang/zhaoshangxiangmu/" target="_blank">招商项目</a><font>|</font><a href="http://www.yxol.net/html/201309/05/50638.shtml" target="_blank" style="" >郧西县农产品招商项目简介</a></li>
                            <li><a href="http://www.yxol.net/html/news/zhaoshang/zhaoshangxiangmu/" target="_blank">招商项目</a><font>|</font><a href="http://www.yxol.net/html/201307/17/48809.shtml" target="_blank" style="" >郧西县招商引资项目一览表</a></li>
                            <li><a href="http://www.yxol.net/html/news/zhaoshang/touzihuanjing/" target="_blank">投资环境</a><font>|</font><a href="http://www.yxol.net/html/201307/17/48808.shtml" target="_blank" style="" >县招商项目建设相关规费减免一览表</a></li>
                                        </ul>
          </div>
          <div class="sylife">
		         <h1 class="fl"><img src="http://www.yxol.net/statics/images/yunxi/zytj.gif" border="0"></h1>
		         <div style="overflow:hidden;height:46px;float:left;margin:0 0 0 3px;width:245px;*margin:0 0 0 3px;" id="marqueebox0">
				 <table width="100%" border="0" cellspacing="0" cellpadding="0">
				   				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201309/05/50638.shtml" target="_blank" style="" >郧西县农产品招商项目简介</a></td>
				   </tr>
				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201307/17/48809.shtml" target="_blank" style="" >郧西县招商引资项目一览表</a></td>
				   </tr>
				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201305/19/46467.shtml" target="_blank" style="" >郧西黄龙山大鲵养殖中心面向全国招商</a></td>
				   </tr>
				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201107/02/31218.shtml" target="_blank" style="" >2011年投资指南项目简介</a></td>
				   </tr>
				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201003/12/20862.shtml" target="_blank" style="" >郧西县招商引资环境、资源、重点项目</a></td>
				   </tr>
				   				   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/200903/09/13719.shtml" target="_blank" style="" >湖北口万亩石林风景区招商</a></td>
				   </tr>
				   				                     </table>
                </div>
          </div>
        </div>
        <!--工业招商结束--> 
      </div>

      <div class="yx_2_l_r fr overflow"> 
        <!--郧西旅游开始-->
        <div class="overflow">
          <div class="yx_2_l_l_t bord10"><span class="fr"><a href="/html/lvyou/" target="_blank">酒店预订</a></span><font>郧西旅游</font></div>
          <div class="yx_3_l_c3 pdt10">
            <ul class="overflow">
                                          <li><a href="http://www.yxol.net/html/201409/04/61071.shtml" target="_blank"><img src="http://www.yxol.net/uploadfile/2014/0904/20140904035138901.jpg" width="115" height="85" /></a>
                <div><a href="http://www.yxol.net/html/201409/04/61071.shtml" target="_blank">十佳导游员</a></div>
              </li>
                            <li><a href="http://www.yxol.net/html/201409/04/61070.shtml" target="_blank"><img src="http://www.yxol.net/uploadfile/2014/0904/20140904035302732.jpg" width="115" height="85" /></a>
                <div><a href="http://www.yxol.net/html/201409/04/61070.shtml" target="_blank">优秀导游员</a></div>
              </li>
                            <li><a href="http://www.yxol.net/html/201409/04/61069.shtml" target="_blank"><img src="http://www.yxol.net/uploadfile/2014/0904/20140904035414893.jpg" width="115" height="85" /></a>
                <div><a href="http://www.yxol.net/html/201409/04/61069.shtml" target="_blank">合格导游员</a></div>
              </li>
                                        </ul>
            <div class="clearfloat"></div>
          </div>
          <div class="yx_2_l_l_cx overflow">
            <ul class="pdrlb10">
                                          <li>·<a href="http://travel.sina.com.cn/hb_shiyan_2460-xiangqing-gonglue/" target="_blank" style="" >郧西上津古城自驾</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/04/61071.shtml" target="_blank" style="" >十佳导游员</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/04/61070.shtml" target="_blank" style="" >优秀导游员</a></li>
                            <li>·<a href="http://www.yxol.net/html/201409/04/61069.shtml" target="_blank" style="" >合格导游员</a></li>
                            <li>·<a href="http://www.yxol.net/html/201406/18/58988.shtml" target="_blank" style="" >郧西有个美丽的传</a></li>
                            <li>·<a href="http://www.yxol.net/html/201406/05/58621.shtml" target="_blank" style="" >郧西“七大怪”</a></li>
                                        </ul>
          </div>
          <div class="sylife pdt10 overflow">
		         <h1 class="fl"><img src="http://www.yxol.net/statics/images/yunxi/lvyoutj.gif" border="0"></h1>
		         <div style="overflow:hidden;height:46px;float:left;margin:0 0 0 3px;width:280px;*margin:0 0 0 3px;" id="marqueebox1">
				 <table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
                    <td height="23"><a href="http://www.yxcyts.com/Article/ShowArticle.asp?ArticleID=262" target="_blank" style="color:#227E0F">>西安、昆明、大理、丽江豪华温泉六日游/799元</a> </td>
                  </tr>
                  <tr>
                 <tr>
                    <td height="23"><a href="http://www.yxcyts.com/Article/ShowArticle.asp?ArticleID=262" target="_blank" style="color:#227E0F">>湖南，港澳，广深珠大型夕阳红专列八日游
 /2980元</a> </td>
                  </tr>
                  <tr>
                    <td height="23"><a href="http://www.yxcyts.com/Article/ShowArticle.asp?ArticleID=262" target="_blank" style="color:#227E0F">>浪漫日照，青岛海滨休闲五日游 /郧西青旅</a> </td>
                  </tr>
                  <tr>
                    <td height="23"><a href="http://www.yxcyts.com/Article/ShowArticle.asp?ArticleID=262" target="_blank" style="color:#227E0F">>浪漫日照，青岛海滨休闲五日游 /郧西青旅</a> </td>
                  </tr>
                   <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201307/10/48458.shtml" target="_blank" style="color:#FF0000">大连青岛单飞单卧七日游2980元（信天游）</a> </td>
                  </tr>
                    <tr>
                    <td height="23"><a href="http://www.yxcyts.com/Article/ShowArticle.asp?ArticleID=261" target="_blank" style="color:#227E0F">励志夏令营“我到北京上大学”2180元 /郧西青旅</a> </td>
                  </tr>
                    
                    <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201307/10/48457.shtml" target="_blank" style="color:#FF0000">上海杭州苏州单飞单卧七日游1980元（信天游）</a> </td>
                  </tr>
                    <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201307/10/48456.shtml" target="_blank" style="color:#FF0000">北京北戴河双卧7日游2180元（信天游）</a> </td>
                  </tr>
                    <tr>
                    <td height="23"><a href="http://www.yxol.net/html/201307/10/48454.shtml" target="_blank" style="color:#FF0000">九寨沟乐山峨眉山双卧八日游1980元（信天游）</a> </td>
                  </tr>
                  </table>
                </div>
          </div>

        </div>
        <!--郧西旅游结束--> 
      </div>
    </div>
    <div class="clearfloat"></div>

    <div class="yx_2_r bord6 fr"> 
      <!--信息发布开始-->
      <div>
        <div class="yx_2_l_l_t bord11"><span class="fr"><a href="/html/ifo/" target="_blank">+我要发布</a></span><font><a href="/html/ifo/" target="_blank">信息发布</a></font></div>
        <div class="yx_3_r_c bord12">
          <ul class="overflow">
            <li class="class1_o" onmousemove="showtab1('class1',1,4)" id="class1_1"><a href="html/ifo/zhaopin/" target="_blank">招聘</a></li>
            <li class="class1_f" onmousemove="showtab1('class1',2,4)" id="class1_2"><a href="html/ifo/fc /" target="_blank">房产</a></li>
            <li class="class1_f" onmousemove="showtab1('class1',3,4)" id="class1_3"><a href="html/ifo/gongqiu/ "  target="_blank">供求</a></li>
            <li class="class1_f" onmousemove="showtab1('class1',4,4)" id="class1_4"><a href="http://job.10yan.com/jobs/jobs-show.php?id=4878" target="_blank">人才</a></li>
          </ul>
          <div class="clearfloat"></div>
        </div>

        <div class="yx_2_r_c" id="tab_class1_1">
          <ul>
                                    <li>·<a href="http://www.yxol.net/html/201409/22/61423.shtml" target="_blank" style="" >常年招收幼儿托管</a></li>
                        <li>·<a href="http://www.yxol.net/html/201408/25/60811.shtml" target="_blank" style="" >招聘土建工年薪10万元以上</a></li>
                        <li>·<a href="http://www.yxol.net/html/201406/19/59045.shtml" target="_blank" style="" >深圳锦驰房地产开发有限公司招聘</a></li>
                        <li>·<a href="http://www.yxol.net/html/201404/16/57095.shtml" target="_blank" style="" >湖北银利来容器有限公司招聘信息</a></li>
                        <li>·<a href="http://www.yxol.net/html/201311/29/53021.shtml" target="_blank" style="color:#FF0000;" >招聘美容师5名</a></li>
                        <li>·<a href="http://www.yxol.net/html/201310/16/51748.shtml" target="_blank" style="color:#FF0000;" >郧西五谷粮山寨招租</a></li>
                        <li>·<a href="http://www.yxol.net/html/201309/16/50989.shtml" target="_blank" style="" >聘才公告</a></li>
                        <li>·<a href="http://www.yxol.net/html/201308/16/50021.shtml" target="_blank" style="" >信天游旅行社招聘导游</a></li>
                        <li>·<a href="http://www.yxol.net/html/201307/03/48223.shtml" target="_blank" style="" >铸才辅导班暑期招生开始啦！</a></li>
                        <li>·<a href="http://www.yxol.net/html/201305/16/46324.shtml" target="_blank" style="" >古月食府招聘2名服务员</a></li>
                                  </ul>
          </div>

        <div class="yx_2_r_c" id="tab_class1_2" style="display:none;">
          <ul>                        <li>·<a href="http://www.yxol.net/html/201410/13/61830.shtml" target="_blank" style="" >房屋出租</a></li>
                        <li>·<a href="http://www.yxol.net/html/201410/10/61766.shtml" target="_blank" style="" >有105 95 75平米三套住房出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201409/19/61401.shtml" target="_blank" style="" >售房信息</a></li>
                        <li>·<a href="http://www.yxol.net/html/201409/16/61307.shtml" target="_blank" style="" >房屋出售信息</a></li>
                        <li>·<a href="http://www.yxol.net/html/201408/28/60915.shtml" target="_blank" style="" >财富公馆3号楼11层出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201407/30/60179.shtml" target="_blank" style="" >湖北口回族乡征兵体检工作顺利开展</a></li>
                        <li>·<a href="http://www.yxol.net/html/201407/16/59752.shtml" target="_blank" style="" >房屋出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201405/20/58090.shtml" target="_blank" style="" >毛坯房转手</a></li>
                        <li>·<a href="http://www.yxol.net/html/201405/14/57902.shtml" target="_blank" style="" >阳光水岸91平米新房出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201404/21/57215.shtml" target="_blank" style="" >三室两厅房屋出售</a></li>
                                  </ul>
        </div>

        <div class="yx_2_r_c" id="tab_class1_3" style="display:none;">
          <ul>
                                     <li>·<a href="http://www.yxol.net/html/201410/10/61760.shtml" target="_blank" style="" >东营小学附近一套住房出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201408/21/60739.shtml" target="_blank" style="" >房屋出租</a></li>
                        <li>·<a href="http://www.yxol.net/html/201407/23/59952.shtml" target="_blank" style="" >烟叶公司家属楼住房出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201407/15/59735.shtml" target="_blank" style="" >门面出售</a></li>
                        <li>·<a href="http://www.yxol.net/html/201407/12/59664.shtml" target="_blank" style="" >门面转让</a></li>
                        <li>·<a href="http://www.yxol.net/html/201406/25/59176.shtml" target="_blank" style="" >转让信息</a></li>
                        <li>·<a href="http://www.yxol.net/html/201403/24/56113.shtml" target="_blank" style="" >房屋出租</a></li>
                        <li>·<a href="http://www.yxol.net/html/201401/07/54041.shtml" target="_blank" style="" >郧西首家特色羊馆</a></li>
                        <li>·<a href="http://www.yxol.net/html/201312/24/53676.shtml" target="_blank" style="" >出售土鸡、乌鸡、土鸡蛋、乌鸡蛋、野鸡</a></li>
                        <li>·<a href="http://www.yxol.net/html/201305/31/46906.shtml" target="_blank" style="" >3月份上牌全新起亚K5自动档车出售</a></li>
                                  </ul>
        </div>
		<div class="yx_2_r_c" id="tab_class1_4" style="display:none;"> <div id="content_up1" style="overflow:hidden;width:95%;height:240px;">
            <div id="upcontent1">
                <script language="javascript" src="http://job.10yan.com/help/xsqdy.php?areaid=541&action=zhaopin"></script>
			</div>
			<div id="copycontent1"></div>
          </div>
         <script language="javascript" src="http://www.zwxww.net/statics/js/scroll2.js"></script>
        </div>
      </div>
      <!--信息发布结束--> 
    </div>
  </div>
  <div class="clearfloat"></div>
  <!--第三部分结束-->